.sp-replacer.sp-light.full-spectrum{background:#ffffff;position:absolute;z-index:1;}

.img-responsive {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
	cursor: default;
}

.wrapper {
    position: relative;
    height:auto;
    width: 100%;
    max-width: 170px;
    overflow:hidden;
	top:60px;
}

.glass {
    position:absolute;
    left: 0px;
    top: 0px;
    z-index:5;
}

.hide-image {
    display: block;
    opacity: 0;
    width: 100%;
}

.water {
    position:absolute;
    left:0px;
    right: 0;
    top:229px;
    background-color:#67d9ff;
    height:0px;
    display:block;
}