/*img {position:absolute; left:0px; top:0px; z-index:5;}*/
#glass {position:relative;  top:0px; z-index:1;max-width:100%;}
/*#water{position:absolute; left:0px; top:510px; background-color:#67d9ff; height:0px; display:block; width:434px;}*/
#water{position:relative; background-color:#67d9ff;width:385px;max-width:100%;}

html,body {
   height:100%;
   font-family: "Permanent Marker"; font-size: 30px; 
  overflow: hidden;
  max-width:100%;
}

.custom-wrapper {
   min-height:100%;
   position:relative;
   max-width:100%;
}
.pad-container{
  padding-top:40px;
  max-width:100%;
  }
  #arrow-right {
	padding-top:150px;
	float:left;
	position:relative;
	opacity:0;
	max-width:100%;
  }
  #arrow-left{
	padding-top:150px;
	float:right;
	position:relative;
	opacity:0;
	max-width:100%;
}
.sp-replacer.sp-light.full-spectrum{background:#ffffff;position:absolute;z-index:1;}
